.tab-buttons_wrapper{
    width: 100%;
    border-radius: 5px;
    display: inline-block;
}

.tab-buttons_wrapper .tab-buttons_btn.active {
    color: #fe7f00;
}

.tab-buttons_wrapper .tab-buttons_btn {
    background: rgba(0, 0, 0, 0) url("../images/bg_tab.png") repeat-x scroll 0 0;
    border-left: 1px solid #cdcdcd;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    padding: 2px 10px 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.tab-buttons_wrapper .tab-buttons_btn:hover {
    background: #f5f6f7 none repeat scroll 0 0;
}
.tab-buttons_wrapper .tab-buttons_btn.active {
    background: rgba(0, 0, 0, 0) url("../images/bg_tab_active.png") repeat-x scroll 0 0;
}
.tab-buttons_wrapper .tab-buttons_btn.active:hover {
    text-decoration: none;
}
.tab-buttons_wrapper .tab-buttons_btn:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-left: 0 none;
    border-top-left-radius: 5px;
}
.tab-buttons_wrapper .tab-buttons_btn:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}